*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* display: grid; */
    /* place-items: center; */

}
h1::selection{
    background-color: #000000;
}
h5::selection{
    background-color: #000000;
}
div::selection{
    background-color: #000000;
}
span::selection{
    background-color: #000000;
}
img::selection{
    background-color: #000000;
}
h4::selection{
    background-color: #000000;
}
p::selection{
    background-color: #000000;
}
button::selection{
    background-color: #000000;
}
li::selection{
    background-color: #000000;
}
input::selection{
    background-color: #000000;
}
header{
    width: 85%;
    height: 95%;
    width: 99.9%;
    height: 99.8%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}
header .menu_side, .song_side{
    width: 25%;
    height: 90%;
    /* border: 1px solid red; */
    background: #0e0f1e;
    color: white;
}
header .song_side{
    width: 75%;
    background: #0b1320;
}
header .master_play{
    width: 100%;
    height: 10%;
    /* border:1px solid #00ff04; */
    background: #10111d;
    box-shadow: 0px 3px 8px #090f1f;

}
header .menu_side h1{
        /* border:1px solid #00ff04; */
    font-size: 20px;
    margin: 15px 0px 0px 20px ;
    font-weight: 500;
}
header .menu_side .playlist{
    margin: 40px 0px 0px 20px;
}
header .menu_side .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}
header .menu_side .playlist h4:hover{
    color: wheat;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
    
}
header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid white;
    background: white;

}
header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active {
    color: #36e2ec;
}
header .menu_side .playlist .active span {
    display: none;
}
header .menu_side .playlist .active .bi {
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song{
    width: 100%;
    height: 480px;
    /* border: 1px solid rgb(207, 70, 70); */
    margin-top: 40px;
    overflow: hidden;
    z-index: -59579;
    overflow: scroll;
}
header .menu_side .menu_song::-webkit-scrollbar{
   display: none;
}
header .menu_side .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_side .menu_song li:hover{
    box-shadow: 0px 0px 10px black;
    background: rgb(105, 105, 105, .1);
}

header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 500;
    color: #4c5262;
}
header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
header .menu_side .menu_song li .bi{
    position: absolute;
    right: 15px;
    font-size: 20px;
}
header .menu_side .menu_song li .bi:hover{
    color: rgb(0, 255, 153);
}
header .menu_side .menu_song li:hover{
    color: rgb(0, 202, 209);
}
header .menu_side .menu_song li h5 .subtitle:hover{
    color: rgb(177, 177, 177);
}

header .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    z-index: 535534;
}

header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid pink; */
    padding-bottom: 5px;
    display: flex;
    align-items:flex-end;
    margin: 0px 10px 0px 20px;
    /* right:  10%; */
}
header .master_play .wave .wave1{
    width: 5px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave unset;
    /* animation: wave .5s linear infinite; */
}
header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.3px;
        animation-delay: .4s;
}
header .master_play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .7s;
}

/* javascript classes */

header .master_play .active1 .wave1{
    animation: wave .5s linear infinite;
}
header .master_play .active1:nth-child(2) {
    animation-delay: .4s;
}

header .master_play .active1:nth-child(3) {
    animation-delay: .7s;
}

@keyframes wave{
    0%{
        height:0px;
    }
    30%{
        height:9px;
    }
    60%{
        height:20px;
    }
    80%{
        height:10px;
    }
    100%{
        height:15px;
    }

}

header .master_play img {
    margin-left: -20px;
    width: 77px;
    height: auto;
    position: sticky;
}
header .master_play h5 {
    margin-right: 10vh;
    width: 200px;
    /* border: 1px solid greenyellow; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    /* left: 5%; */
    position: relative;
}
/* header .master_play #currentEnd {
} */
header .master_play h5 .subtitle {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #4c5262;
    width: 100%;
}

header .master_play .icon{
    font-size: 90px;
    font-size: 20px;
    color: white;
    margin: 0px 0px 0px 10px;
    outline: none;
    align-items: center;
    /* border: 1px solid red; */
    min-width: 250px;
}
header .master_play .icon .bi{
    cursor: pointer;
    outline: none;
    color: rgb(231, 231, 231);
    cursor: pointer;
    font-size: 30px;
}

header .master_play .icon .shuffle{
    /* cursor: pointer; */
    /* outline: none; */
    font-size: 30px;
    margin-right: 10px;
    max-width: 31.9px;
    /* border: 1px solid red; */
    padding: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: -35px;
    margin-bottom: -40px;
}
header .master_play .icon #download_music{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-left: 10px;
}

header .master_play .icon .bi:nth-child(2){

    margin-left: 8%;
}
header .master_play .icon .bi:nth-child(3){

    margin-left: 8%;
}
header .master_play .icon .bi:nth-child(4){

    margin-left: 8%;
}
header .master_play .icon #download_music:nth-child(5){
    margin-left: 8%;
}
header .master_play span{
    color: #fff;
    width: 32px;
    /* border: 1px solid red; */
    font-size: 11px;
    font-weight: 400;
}
header .master_play #currentStart{
    /* margin: 0px 20px 0px 20px; */
}

header .master_play .bar{
    position: relative;
    width: 100%;
    height: 5px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 0px;
    /* bottom: 10%; */
    /* position: absolute; */
    margin-left: 1.3%;
}

header .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
/* vol_bar */
header .master_play .bar .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #36e2ec;
    border-radius: 20%;
    left: 10%;
    /* left: 0%; */
    top: -1.7px;
    transition: 1s linear;
}

header .master_play .bar .dot::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #36e2ec;
    border-radius: 20%;
    left: -6px;
    top: -6px;
    box-shadow:  inset 0px 0px 4px  #36e2ec;
    -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
}

/* -webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite; */



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 99999;
    opacity: 0;
}


header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    /* margin-left: 50px; */
    /* left:75%; */
    margin-left: 40px;
}

header .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
}
header .master_play .vol input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
}
header .master_play .vol .vol_bar {
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
        top: -1.7px;
        transition: 1s linear;
}
    header .master_play .vol .dot::before {
        position: absolute;
            content: '';
            width: 15px;
            height: 15px;
            border: 1px solid #36e2ec;
            border-radius: 50%;
            left: -6px;
            top: -6px;
            box-shadow: inset 0px 0px 4px #36e2ec;
}
header .song_side{
    z-index: 2;
    /* border: 1px solid red; */
}
header .song_side::before{
    /* border: 1px solid red; */
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('img/bg.png');
    overflow: hidden;
    z-index: -1;

}
header .song_side nav{
    width: 90%;
    height: 10%;
    /* border: 1px solid #889fdf; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side nav ul{
    display: flex;
    margin-left: 20px;
}
header .song_side nav ul li{
    list-style-type: none;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    color: #4c5262;
    margin-right: 18px;
    cursor: pointer;
    transition: .5s linear;
}
header .song_side nav ul li:hover{
    color: #fff;
}
header .song_side nav ul li:nth-child(1){
    color: #fff;
}
header .song_side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;

    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}
header .song_side nav .search{
    position: relative;
    width: 40%;

    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
}
header .song_side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}
header .song_side nav .search .search_results{
    position: absolute;
    width: 100%;
    height: 200px;
    /* border: 1px solid rgb(0, 255, 26); */
    margin-top: 10px;
    border-radius: 10px;
    overflow: auto;
}
header .song_side nav .search .search_results::-webkit-scrollbar{
    display: none;
}
header .song_side nav .search .search_results .card{
    width: 100%;
    min-height: 45px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    background: rgba(184,184,184, .1);
    border-radius: 10px;
    margin-bottom: 5px;
        text-decoration: none;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.257);
        display: none;
}
header .song_side nav .search .search_results .card img{
    width: 45px;
    height: 45px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
}
header .song_side nav .search .search_results .card .content{
    width: 80%;
    height: 100%;
    /* border: 1px solid rgb(127, 125, 125); */
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;

}
header .song_side nav .search .search_results .card .content .subtitle{
    width: 80%;
    height: 100%;
    color: rgb(186, 186, 186);
    font-size: 11px;
    font-weight: 500;

}
header .song_side nav .search .bi{
   font-size: 13px;
   padding: 3px 0px 0px 10px;
}
header .song_side nav .search input{
   background: none;
   background: transparent;
   border: none;
   outline: none;
   padding: 0px 10px;
   color: #fff;
   font-size: 12px;
   
}
header .song_side nav .user{
   position: relative;
   width: 30px;
   height: 30px;
   margin-right: 3%;
}
header .song_side nav .user i{
   color: #4b4b4b;
   font-size: 50px;
   position: absolute;
   width: 100%;
   height: 100%;
   text-shadow: 2px 2px 5px #000000ec;
   top: -13px;
   right: -20px;
}
header .song_side .content{
    width: 90%;
    height: 30%;
    /* border: 1px solid red; */
    margin: auto;
    padding-top: 20px;
}
header .song_side .content h1{
    font-size: 25px;
    font-weight: 600;
}
header .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #5b6171;
    margin: 5px;
}
header .song_side .content .buttons{
    margin-top: 15px;
    
}
header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .3s linear;
    font-size: 12px;
    font-weight: 600;
}
header .song_side .content .buttons button:hover{
    background: none;
    color: #36e2ec;
}
header .song_side .content .buttons button:nth-child(2){
    background: none;
    color: #36e2ec;
}
header .song_side .content .buttons button:nth-child(2):hover{
    background: #36e2ec;
    color: #000000;
}
header .song_side .populer-song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid pink; */
}



header .song_side .populer-song .h4{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side .populer-song .h4 .bi{
    color: #a4a8b4;
    font-size: 15px;
    cursor: pointer;
    transition: .3s linear;
}
header .song_side .populer-song .h4 .bi:hover{
    color: #ffffff;
    
}
header .song_side .populer-song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid red; */
    overflow: auto;
    scroll-behavior: smooth;
}
header .song_side .populer-song .pop_song::-webkit-scrollbar{
    display: none;
}
header .song_side .populer-song .pop_song li{
    min-width: 100px;
    height: 143px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    
}
header .song_side .populer-song .pop_song li:hover{
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 8px 5px rgb(0, 0, 0);
   border: 1px solid rgb(68, 68, 68);
   
}
header .song_side .populer-song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .song_side .populer-song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
    margin: 2px ;
    padding: 2px;
}


header .song_side .populer-song .pop_song li .img_play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px black;
    opacity: 0;
}
header .song_side .populer-song .pop_song li:hover .img_play .bi{
    opacity: 1;
}
header .song_side .populer-song .pop_song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header .song_side .populer-song .pop_song li h5 .subtitle{
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}
header .song_side .populer_artists{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid white; */
}
header .song_side .populer_artists .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .populer_artists .h4 .bi {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
    font-size: 15px;
}

header .song_side .populer_artists .h4 .bi:hover {
    color: #ffffff;

}
header .song_side .populer_artists .item {
        width: 100%;
        height: 150px;
        margin-top: 15px;
        display: flex;
        /* border: 1px solid red; */
        overflow: auto;
        scroll-behavior: smooth;
}
header .song_side .populer_artists .item::-webkit-scrollbar {
        display: none;
}
header .song_side .populer_artists .item li{
    list-style-type: none;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
header .song_side .populer_artists .item li img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
} 
header .song_side .populer_artists .item li img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    /* border: .1px solid black; */
} 

/* //////////////////////////mobile style//////////////////////// */


.bi-list{
    display: none;
}
.bi-x-lg{
    display: none;
}






/* 



*/



